body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    color: royalblue;
}

form {
    display: flex;
    flex-direction: column;
}

.form_group {
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin-bottom: 15px;
}

form input {
    width: 200px;
}

form button {
    width: 200px;
    background: lightcoral;
    border: none;
    color: #ffffff;
    padding: 8px 15px;
    text-align: center;
    border-radius: 5px;
    margin-left: auto;
}